/*
* {
	outline: black solid 1px;
}
*/

#wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

#new_grid_button {
	font-size: 20px;
	width: 20rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#grid_container {
	width: 45rem;
	height: 45rem;
}

.grid_row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
}

.grid_cell {
	outline: grey solid 1px;
	height: 100%;
}

.grid_cell.filled {
	background-color: red;
}